examples/checkout/notifications/flows/sfdc_Checkout_Order_Summary_Notification_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This action triggers email notification for order summary owner.</description>
        <name>Order_Summary_Email_Alert_Action</name>
        <label>Order Summary Email Alert Action</label>
        <locationX>1118</locationX>
        <locationY>69</locationY>
        <actionName>OrderSummary.sfdc_Checkout_Order_Summary_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>This action triggers bell notification for order summary owner.</description>
        <name>Send_Notifications</name>
        <label>Send Notifications</label>
        <locationX>946</locationX>
        <locationY>69</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Order_Summary_Email_Alert_Action</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>customNotificationRecordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Thanks for shopping with us! We have your order, and we'll get right on it.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Your Order's In</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>orderSummaryRecordID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Assign order summary owner as recipient of notifications</description>
        <name>assignRecipientId</name>
        <label>assignRecipientId</label>
        <locationX>777</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderSummaryRecordID.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notifications</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Order Summary Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Summary Notification Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomNotificationTypeRecord</name>
        <label>getCustomNotificationTypeRecord</label>
        <locationX>620</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRecipientId</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customNotificationTypeDevName</elementReference>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputReference>customNotificationRecordId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOrderSummaryRecord</name>
        <label>getOrderSummaryRecord</label>
        <locationX>467</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotificationTypeRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputReference>orderSummaryRecordID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOrderSummaryRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customNotificationRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomNotificationType</objectType>
    </variables>
    <variables>
        <name>customNotificationTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>sfdc_Checkout_Order_Summary_Notification_Type</stringValue>
        </value>
    </variables>
    <variables>
        <description>Input variable to accept order summary record.</description>
        <name>OrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <description>Output variable to store value of get order summary record.</description>
        <name>orderSummaryRecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
