examples/checkout/framework/flows/Spring_2021_Subflow_Update_Checkout_State.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>650</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>checkoutSession.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Session</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description></description>
        <name>Check_Session_isProcessing</name>
        <label>Check Session isProcessing</label>
        <locationX>393</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Refresh_page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isProcessing true</defaultConnectorLabel>
        <rules>
            <name>isProcessing_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSession.IsProcessing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_State</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>false</doesRequireRecordChangedToMeetCriteria>
            <label>isProcessing false</label>
        </rules>
    </decisions>
    <interviewLabel>Shipping {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>(Spring 2021) Subflow - Update Checkout State</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordUpdates>
        <name>Save_Session</name>
        <label>Save Session</label>
        <locationX>900</locationX>
        <locationY>250</locationY>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputReference>checkoutSession</inputReference>
    </recordUpdates>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Fetch_Session</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>false</doesRequireRecordChangedToMeetCriteria>
    </start>
    <status>Active</status>
    <subflows>
        <description>Fetches the current checkout session object without creating a new one.</description>
        <name>Fetch_Session</name>
        <label>Fetch Session</label>
        <locationX>150</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Check_Session_isProcessing</targetReference>
        </connector>
        <flowName>Spring_2021_Subflow_Checkout_Session</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>expCurrentState</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>checkoutSession</assignToReference>
            <name>checkoutSession</name>
        </outputAssignments>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description></description>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>900</locationX>
        <locationY>500</locationY>
        <flowName>Spring_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description></description>
        <name>Refresh_page</name>
        <label>Refresh page</label>
        <locationX>400</locationX>
        <locationY>500</locationY>
        <flowName>Spring_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>refreshPage</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>newState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expCurrentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
